* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: $font;
    color: $copy1;
}

.icon-footer-youtube, .icon-footer-facebook, .icon-footer-twitter, .icon-footer-linkedin, .icon-footer-instagram {
    color: gray;
}