/* overrides */
.wrapper nav, .find-bp, .hamburger, .cart, .header-desktop .utility ul.actions, .find-bp_floating, footer, footer.copyright, footer .links, .footer-logos p, .footer-logos a {
    display: none !important;
  }
  .header-desktop{
  display: none;
  }
  .top-anchor-content {
  max-width: 1200px;
  height: auto!important;
  min-height: 35px!important;
  }
  .site-wrapper {
  max-width: 1200px!important;
  }
  
  .site-wrapper main::before {
  height: 0!important;
  }
  
  .header-desktop,.header-mobile{
  display: none;
  }
  

// .local-img & .sc-img

.local-img {
    display: none!important;
}